$menu-size: 1.25rem;
$menu-thickness: 0.2rem;

$menu-color-main: rgb(226, 25, 166);
$menu-color-back: rgb(255, 255, 255);
$menu-transitions: transform 200ms ease, opacity 200ms ease, color 200ms ease;
