@import "./Variables";

.menu-btn-container {
  position: relative;
  margin-right: 0.25rem;
  height: 2 * $menu-size;
  width: 2 * $menu-size;

  border-radius: 10%;

  cursor: pointer;
  user-select: none;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $menu-color-main;
}

.menu-btn {
  background-color: $menu-color-back;
  width: $menu-size;
  height: $menu-thickness;

  transition: $menu-transitions;

  &::after,
  &::before {
    position: absolute;
    content: "";

    width: $menu-size;
    height: $menu-thickness;

    background-color: $menu-color-back;

    transition: $menu-transitions;
  }

  &::after {
    transform: translateY(0.75rem);
  }
  &::before {
    transform: translateY(-0.75rem);
  }
}

.menu-active {
  .menu-btn {
    background: transparent;

    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }
    &::after {
      transform: rotate(-45deg) scaleX(1.25);
    }
  }
}
