.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;

  transition: opacity 200ms ease;
  opacity: 0;
}

.active {
  opacity: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  background-color: rgb(65, 152, 223);
  text-align: center;
}

li,
a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.sub-list {
  color: red;
}

.sub-list > ul {
  display: none;
  opacity: 0;
  top: 1rem;
}

li:hover > a {
  color: white;
}

.sub-list:hover > ul {
  display: block;
  opacity: 1;
}
